@keyframes fade-contrast {
  0% {
    filter: brightness(0.7) contrast(1.1);
  }
  50% {
    filter: brightness(1.0) contrast(1.3);
  }
  100% {
    filter: brightness(0.7) contrast(1.1);
  }
}

.masthead-animated-bg {
  animation: fade-contrast 3s infinite;
}
