<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">{{ site_config.footer_copyright }}</div>
            <div class="col-lg-4 my-3 my-lg-0">
                {% if site_config.twitter_url %}
                <a class="btn btn-dark btn-social mx-2" href="{{ site_config.twitter_url }}" aria-label="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                {% endif %}
                {% if site_config.facebook_url %}
                <a class="btn btn-dark btn-social mx-2" href="{{ site_config.facebook_url }}" aria-label="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                {% endif %}
                {% if site_config.linkedin_url %}
                <a class="btn btn-dark btn-social mx-2" href="{{ site_config.linkedin_url }}" aria-label="LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                {% endif %}
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Política de Privacidad</a>
                <a class="link-dark text-decoration-none" href="#!">Términos de Uso</a>
            </div>
        </div>
    </div>
</footer>
